* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", system-ui;
}

/* navigational bar */

.nav-bar-wrapper {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.nav-bar {
    /* background-color: rgb(80, 223, 156); */
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 70%;
}

.nav-bar a {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

/* hero section */

.hero-wrapper {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.hero-content {
    /* background-color: rgb(101, 145, 228); */
    width: 70%;
    padding: 6% 0 8% 0;
    display: flex;
    height: 37.5vh;
    gap: 16px;
    overflow: hidden;
}

.hero-content-left,
.hero-content-right {
    flex: 1;
}

.hero-content-left {
    /* background-color: rgb(49, 120, 201); */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content-left h1, 
.hero-content-left p, 
.hero-content-left button {
    margin: 0 8px 0 8px;
}

.hero-content-left p {
    font-size: 18px;
    font-weight: 300;
}

.hero-content-left button {
    background-color: #3882F6;
    border: none;   
    margin-top: 16px;
    padding: 8px;
    color: white;
    width: 125px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 1.2;
}

.hero-content-right {
    background-color: rgb(31, 81, 138);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Some random information */

.info-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.info-content {
    /*border: green 2px solid;*/
    width: 70%;
    height: auto;
    gap: 16px;
    padding-bottom: 4%;
    overflow: hidden;
}

.info-content h2 {
    text-align: center;
    padding: 40px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.item-wrapper {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding-bottom: 64px;
}

.item {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
    color: #545D6A;
    font-weight: 400;
}

.item-img img{
    width: 85%;
    height: 22.5vh;
    border: #3B82F6 4px solid;
    border-radius: 12px;
    object-fit: cover;
}

/* quote section */

.quote-wrapper {
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    
}

.quote-content { 
    /*border: green 2px solid;*/
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
}

.quote {
    /*border: green 2px solid;*/
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    gap: 16px;
    color: #1F2937;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote p {
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

/* call-to-action */

.action-wrapper {
    /* border: green 2px solid; */
    display: flex;
    justify-content: center;
}

.action-content {
    /* border: green 2px solid; */
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 6% 0 6% 0;
}

.action {
    background-color: #3882F6;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 4%;
    border-radius: 8px;
}

.action-left {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.action-left h4 {
    font-size: 24px;
    font-weight: 500;
}

.action-left p {
    font-weight: 300;
}

.action-right {
    display: flex;
    align-items: center;
}

.action-right button {
    background-color: #3882F6;
    border: none;   
    padding: 8px;
    color: white;
    border: white 2px solid;
    width: 125px;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 40px;
}